/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Great+Vibes&family=Lobster&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Great+Vibes&family=Lobster&family=Sansita+Swashed:wght@300&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Creepster&family=Great+Vibes&family=Lobster&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fugaz+One&family=Great+Vibes&family=Lobster&display=swap');


*
{
    padding: 0;
    margin: 0;
    /* font-family: 'Acme', sans-serif; */

    /* font-family: 'Sansita Swashed', cursive; */
    /* font-family: 'Creepster', cursive; */
    font-family: 'Fugaz One', cursive;

    
    

    box-sizing: border-box;
    /* overflow-x: hidden; */

}
#container
{
    height: 100vh;
    width: 100%;
    /* position: relative; */
    top: 0;
    left: 0;
    background: #e9e9eb;
    /* padding: 30px 30px; */
}
/* logo */
#container #logo
{
    position: absolute;
    left: 8%;
    top: 10px;
    font-size: 30px;
    z-index: 997;
    font-weight: bold;
    color: #165397;
}
/* navbar */
#navbar
{
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fdfefe;
    display: grid;
    place-items: center;
}
#navbar ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#navbar ul li
{
    font-size: 25px;
    margin: 0 45px;
}
#navbar ul li a
{
    text-decoration: none;
    color: #000;
}
#navbar ul li a:hover
{
    color: #165397;
}
/* login button */
#navbar ul #login
{
    height: 50px;
    width: 120px;
    position: absolute;
    top: 10px;
    right: 7%;
    display: grid;
    place-items: center;
    background: #165397;
    border-radius: 10px 20px;
}
#navbar ul #login a
{
    color: #e9e9eb;
}
#navbar ul #login:hover
{
    background: #000;
}
/* image */
#image
{
    position: absolute;
    top: calc(50% - 300px);
    right: 5%;
    z-index: 999;
}
#image img
{
    height: 600px;
    filter: drop-shadow(-140px -140px 5px rgba(0,0,0,0.5));
    transition: 0.5s;
}
#image img:hover
{
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));

}
/* content */
#content
{
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 996;
}
#content h2
{
    font-size: 300px;
    color: #165397;
}
#content:hover h2
{
    color: #000;
    transition: 0.5s;
}
#content h4
{
    font-size: 70px;
    color: #000;
}
#content:hover h4
{
    color: #165397;
    transition: 0.5s;
}
/* icons */
#icons
{
    height: 500px;
    width: 65px;
    position: absolute;
    left: 0;
    top: calc(50% - 250px);
    background: #1c5da4;
    border-radius: 0 60px 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 998;
}
#icons:hover
{
    background: #000;
}
#icons a
{
    text-decoration: none;
    height: 40px;
    width: 40px;
    font-size: 23px;
    color: #e9e9eb;
    display: grid;
    place-items: center;
    margin: 30px 0
}
#icons a:hover
{
    color: #1b66bb;
}
/* pagination */
#pagination
{
    position: absolute;
    bottom: 4%;
    right: 20%;
    z-index: 995;
}
#pagination a
{
    text-decoration: none;
    color: #000;
    font-size: 70px;
    margin: 0 30px;
    transition: 0.5s;
}
#pagination a:hover
{
    color: #165397;
}
/* lines */
#line1,#line2
{
    height: 150px;
    width: 60px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: skewX(-45deg);
}
#line2
{
    height: 60px;
    left: 26%;
}
.hero-btn{
background-color: #000;
   
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 34px;
    font-size: 13px;
  
    position: relative;
    cursor: pointer;
    text-align: center;
    position: relative;
    left: 550px;
}
.hero-btn:hover{
    background-color: skyblue;
    border: 1px solid;
    font-weight: 700px;

}
/* about us */
.about
{
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightcyan; */
}
.about .aboutContent
{
    width: 49%;
    margin-right: 20%;
}
.about .aboutContent h2
{
    font-size: 1.7em;
    font-weight: 500;
}
.about .aboutContent h2 span
{
 
    font-size: 2.3em;
}
.about .aboutImg
{
    width: 65%;
    height: 370px;
    border: 2px solid #000;
     margin-right: 50px; 
}
.about .aboutImg img
{
    width: 100%;
    height: 100%;
}
/* testimonials */
section{
    font-family:'Poppins';
    background-color: #fff;
    /* /* background-position:center; */
    /* background-size: cover;  */
    /* min-height: 100vh; */
    /* -webkit-background-size: cover; */
}

.container h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    /* margin-bottom: 20px; */
    text-decoration: solid;
    text-decoration: underline;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Poppins';

}
.container h1 span{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    /* margin-bottom: 20px; */
    text-decoration: solid;
    /* text-decoration: underline; */
    /* text-align: center; */
    color: blue;

}
.img-area{
    /* width: 100px; 
    /* height: 100px; */
    /* border-radius: 50%; */
    display: inline-block;
    overflow: hidden;
   align-items: center;
    
}
.img-area img{
    width: 50%;
}
.content{
    margin: -160px;
    padding: -30;
    height: 400px;
    margin: 7%;
    text-align: center;
    padding: 5px;
    color: #000;
    border-radius: 0px;
    background: linear-gradient(to bottom, #292d2e 0%, #fafffc 100%);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px)
}  
.content h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    /* margin-bottom: 20px; */

}
.content-area
{
    width: 70%;
    height: 650px;
    margin: 10%;
    gap: -10px;
    
}
/* .content p{
    line-height: 1.9;
} */
.socials{
    margin-top: 10px;
}
.socials i{
    color:  #0a0a0a;
/* margin-bottom: 20px; */
}
.owl-dots{
text-align: center;
 margin-top: -250px;
}
.owl-dot{
display: inline-block;
height: 20px !important;
width: 15px !important;
background-color: #000!important;
opacity: .8;
margin: 0 5px;
border-radius: 50%;

}
.owl-dots.active{
background-color: #000!important;
}
/* footer */
.footer{
    background:#165397;
    font-family: sans-serif;
    /* margin-bottom: 10%; */
}


.footer img{
    width: 100%;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
}

.footer .box-container .box{
    flex:1 1 23rem;
    margin:2rem;
}

.footer .box-container .box .heading{
    margin:0; padding:0;
    box-shadow: 0 .2rem .05rem #fff6;
    margin-bottom: .5rem;
    text-align: left;
}

.footer .box-container .box .heading span{
    font-size: 2rem;
    color:#fff;
}

.footer .box-container .box p{
    font-size: 1rem;
    color:#eee;
    padding:1rem 0;
}

.footer .box-container .box:first-child p{
    font-size: 1.2rem;
}

.footer .box-container .box p i{
    padding:0 .5rem;
    color:#fff;
}

.footer .box-container .box a{
    font-size: 1rem;
    display: block;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .credit{
    font-size: 1rem;
    text-align: center;
    padding:2rem 1rem;
    color:#fff;
    border-top: .1rem solid rgba(255,255,255,.3);
}

.footer .credit span{
    color:var(--red);
}
.copyright
{
    margin-top:5rem;
    padding:1rem;
    text-align:center;
    background: gray;
}
.copyright i 
{
    font-size:2rem;
    color:#fff;
}
.copyright p 
{
    letter-spacing: .1rem;
    font-size: 1.5rem;
    color:#fff;
    
}
.newsletter{
    padding:2rem 1rem;
    /* background: linear-gradient(rgba(255,255,255,.5),#fff), no-repeat; */
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 10%;
}

.newsletter h1{
    font-size: 4rem;
    color:#333;
}

.newsletter p{
    font-size: 2rem;
    color:#333;
}

.newsletter form{
    margin:1rem auto;
    padding:.2rem 1rem;
    max-width: 50rem;
    border-radius: 5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    background:rgb(43, 83, 195);
}

.newsletter form input[type="text"]{
    height:4rem;
    padding:0 1rem;
    width:100%;
    font-size: 1.7rem;
    background:none;
    border:none;
    color:rgb(0, 0, 0);
}

.newsletter form input[type="Submit"]{
    height:2.8rem;
    width:17rem;
    font-size: 1.7rem;
    background:var(--red);
    border:none;
    outline: none;
    color:#fff;
    cursor: pointer;
    border-radius: 5rem;
}

.newsletter form input[type="submit"]:hover{
    letter-spacing: .1rem;
    opacity: .8;
}